body{
    background-image: url(../img/fundo.jpg);
    background-size:cover;
}

#h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: black;
    margin-bottom: 35px;
    background-color: rgba(109, 118, 91, 0.6);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 48px;
}

#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    top: 20%;
}

#div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    margin-bottom: 20px;
}

#local {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    margin-bottom: 20px;
}

#city { 
    width: 75px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(109, 118, 91, 0.5);
}

#estado {
    width: 45px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(109, 118, 91, 0.5);
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-bottom: 20px;
}

#table {
    height: 150px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(109, 118, 91, 0.5);
}

button { 
    border-radius: 8px;
    border-color: white;
    background-color: rgb(109, 118, 91);
    color: white;
    width: 70px;
    height: 25px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button:hover {
    background-color: rgb(94, 184, 3);
    cursor: pointer;
}

.input {
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(109, 118, 91, 0.5);
    
    
}